<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="menu">
            <h2><span jhiTranslate="orimexApp.menu.detail.title">Menu</span> {{menu.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="orimexApp.menu.codeMenu">Code Menu</span></dt>
                <dd>
                    <span>{{menu.codeMenu}}</span>
                </dd>
                <dt><span jhiTranslate="orimexApp.menu.cmampsMenu">Cmamps Menu</span></dt>
                <dd>
                    <span>{{menu.cmampsMenu}}</span>
                </dd>
                <dt><span jhiTranslate="orimexApp.menu.libelleMenu">Libelle Menu</span></dt>
                <dd>
                    <span>{{menu.libelleMenu}}</span>
                </dd>
                <dt><span jhiTranslate="orimexApp.menu.ordre">Ordre</span></dt>
                <dd>
                    <span>{{menu.ordre}}</span>
                </dd>
                <dt><span jhiTranslate="orimexApp.menu.domaine">Domaine</span></dt>
                <dd>
                    <span>{{menu.domaine}}</span>
                </dd>
                <dt><span jhiTranslate="orimexApp.menu.menu">Menu</span></dt>
                <dd>
                    <div *ngIf="menu.menuId">
                        <a [routerLink]="['/menu', menu.menuId, 'view']">{{menu.menuId}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/menu', menu.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
