<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-achat-type-paiement-heading" jhiTranslate="orimexApp.achatTypePaiement.home.createOrEditLabel">Create or edit a Achat Type Paiement</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!achatTypePaiement.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="achatTypePaiement.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="orimexApp.achatTypePaiement.idTypePaiement" for="field_idTypePaiement">Id Type Paiement</label>
                    <input type="number" class="form-control" name="idTypePaiement" id="field_idTypePaiement"
                        [(ngModel)]="achatTypePaiement.idTypePaiement" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="orimexApp.achatTypePaiement.libelleTypePaiement" for="field_libelleTypePaiement">Libelle Type Paiement</label>
                    <input type="text" class="form-control" name="libelleTypePaiement" id="field_libelleTypePaiement"
                        [(ngModel)]="achatTypePaiement.libelleTypePaiement" />
                </div>

            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
