<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="utilisateurDepot">
            <h2><span jhiTranslate="orimexApp.utilisateurDepot.detail.title">Utilisateur Depot</span> {{utilisateurDepot.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="orimexApp.utilisateurDepot.utilisateur">Utilisateur</span></dt>
                <dd>
                    <div *ngIf="utilisateurDepot.utilisateurId">
                        <a [routerLink]="['/utilisateur', utilisateurDepot.utilisateurId, 'view']">{{utilisateurDepot.utilisateurId}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/utilisateur-depot', utilisateurDepot.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
