<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="bon">
            <h2><span jhiTranslate="orimexApp.bon.detail.title">Bon</span> {{bon.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="orimexApp.bon.idBon">Id Bon</span></dt>
                <dd>
                    <span>{{bon.idBon}}</span>
                </dd>
                <dt><span jhiTranslate="orimexApp.bon.idTypeBon">Id Type Bon</span></dt>
                <dd>
                    <span>{{bon.idTypeBon}}</span>
                </dd>
                <dt><span jhiTranslate="orimexApp.bon.numeroBon">Numero Bon</span></dt>
                <dd>
                    <span>{{bon.numeroBon}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/bon', bon.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
