<div>
    <h2 id="page-heading">
        <span jhiTranslate="orimexApp.achatArticleLigneProforma.home.title">Achat Article Ligne Proformas</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-achat-article-ligne-proforma" [routerLink]="['/achat-article-ligne-proforma/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span class="hidden-sm-down"  jhiTranslate="orimexApp.achatArticleLigneProforma.home.createLabel">
            Create new Achat Article Ligne Proforma
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'orimexApp.achatArticleLigneProforma.home.search' | translate }}">
                    <button class="input-group-append btn btn-info" (click)="search(currentSearch)">
                        <fa-icon [icon]="'search'"></fa-icon>
                    </button>
                    <button class="input-group-append btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                        <fa-icon [icon]="'trash-alt'"></fa-icon>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <div class="table-responsive" *ngIf="achatArticleLigneProformas">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="idArticleLigneProforma"><span jhiTranslate="orimexApp.achatArticleLigneProforma.idArticleLigneProforma">Id Article Ligne Proforma</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="numeroSequence"><span jhiTranslate="orimexApp.achatArticleLigneProforma.numeroSequence">Numero Sequence</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="nombreCaissesTc"><span jhiTranslate="orimexApp.achatArticleLigneProforma.nombreCaissesTc">Nombre Caisses Tc</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="nombreFeuillesCaisse"><span jhiTranslate="orimexApp.achatArticleLigneProforma.nombreFeuillesCaisse">Nombre Feuilles Caisse</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="dimention"><span jhiTranslate="orimexApp.achatArticleLigneProforma.dimention">Dimention</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="quantite"><span jhiTranslate="orimexApp.achatArticleLigneProforma.quantite">Quantite</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="prixUnitaire"><span jhiTranslate="orimexApp.achatArticleLigneProforma.prixUnitaire">Prix Unitaire</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="montant"><span jhiTranslate="orimexApp.achatArticleLigneProforma.montant">Montant</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="poids"><span jhiTranslate="orimexApp.achatArticleLigneProforma.poids">Poids</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="produitId"><span jhiTranslate="orimexApp.achatArticleLigneProforma.produit">Produit</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="achatLigneProformaId"><span jhiTranslate="orimexApp.achatArticleLigneProforma.achatLigneProforma">Achat Ligne Proforma</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let achatArticleLigneProforma of achatArticleLigneProformas ;trackBy: trackId">
                <td><a [routerLink]="['/achat-article-ligne-proforma', achatArticleLigneProforma.id, 'view' ]">{{achatArticleLigneProforma.id}}</a></td>
                <td>{{achatArticleLigneProforma.idArticleLigneProforma}}</td>
                <td>{{achatArticleLigneProforma.numeroSequence}}</td>
                <td>{{achatArticleLigneProforma.nombreCaissesTc}}</td>
                <td>{{achatArticleLigneProforma.nombreFeuillesCaisse}}</td>
                <td>{{achatArticleLigneProforma.dimention}}</td>
                <td>{{achatArticleLigneProforma.quantite}}</td>
                <td>{{achatArticleLigneProforma.prixUnitaire}}</td>
                <td>{{achatArticleLigneProforma.montant}}</td>
                <td>{{achatArticleLigneProforma.poids}}</td>
                <td>
                    <div *ngIf="achatArticleLigneProforma.produitId">
                        <a [routerLink]="['../produit', achatArticleLigneProforma.produitId , 'view' ]" >{{achatArticleLigneProforma.produitId}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="achatArticleLigneProforma.achatLigneProformaId">
                        <a [routerLink]="['../achat-ligne-proforma', achatArticleLigneProforma.achatLigneProformaId , 'view' ]" >{{achatArticleLigneProforma.achatLigneProformaId}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/achat-article-ligne-proforma', achatArticleLigneProforma.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/achat-article-ligne-proforma', achatArticleLigneProforma.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'achat-article-ligne-proforma/'+ achatArticleLigneProforma.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="achatArticleLigneProformas && achatArticleLigneProformas.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
