<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-caisse-heading" jhiTranslate="orimexApp.caisse.home.createOrEditLabel">Create or edit a Caisse</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!caisse.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="caisse.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="orimexApp.caisse.idCaisse" for="field_idCaisse">Id Caisse</label>
                    <input type="number" class="form-control" name="idCaisse" id="field_idCaisse"
                        [(ngModel)]="caisse.idCaisse" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="orimexApp.caisse.nombrePlateaux" for="field_nombrePlateaux">Nombre Plateaux</label>
                    <input type="number" class="form-control" name="nombrePlateaux" id="field_nombrePlateaux"
                        [(ngModel)]="caisse.nombrePlateaux" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="orimexApp.caisse.numeroConteneur" for="field_numeroConteneur">Numero Conteneur</label>
                    <input type="text" class="form-control" name="numeroConteneur" id="field_numeroConteneur"
                        [(ngModel)]="caisse.numeroConteneur" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="orimexApp.caisse.referenceCaisse" for="field_referenceCaisse">Reference Caisse</label>
                    <input type="text" class="form-control" name="referenceCaisse" id="field_referenceCaisse"
                        [(ngModel)]="caisse.referenceCaisse" />
                </div>

            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
