<div>
    <h2 id="page-heading">
        <span jhiTranslate="orimexApp.achatArrivage.home.title">Achat Arrivages</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-achat-arrivage" [routerLink]="['/achat-arrivage/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span class="hidden-sm-down"  jhiTranslate="orimexApp.achatArrivage.home.createLabel">
            Create new Achat Arrivage
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'orimexApp.achatArrivage.home.search' | translate }}">
                    <button class="input-group-append btn btn-info" (click)="search(currentSearch)">
                        <fa-icon [icon]="'search'"></fa-icon>
                    </button>
                    <button class="input-group-append btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                        <fa-icon [icon]="'trash-alt'"></fa-icon>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <div class="table-responsive" *ngIf="achatArrivages">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="idArrivage"><span jhiTranslate="orimexApp.achatArrivage.idArrivage">Id Arrivage</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="numeroDossierArrivage"><span jhiTranslate="orimexApp.achatArrivage.numeroDossierArrivage">Numero Dossier Arrivage</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="codeCompagnieMaritime"><span jhiTranslate="orimexApp.achatArrivage.codeCompagnieMaritime">Code Compagnie Maritime</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="codeOperateur"><span jhiTranslate="orimexApp.achatArrivage.codeOperateur">Code Operateur</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="codeTransitaire"><span jhiTranslate="orimexApp.achatArrivage.codeTransitaire">Code Transitaire</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="codeTransporteur"><span jhiTranslate="orimexApp.achatArrivage.codeTransporteur">Code Transporteur</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="dateArrivePort"><span jhiTranslate="orimexApp.achatArrivage.dateArrivePort">Date Arrive Port</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="designationCompagnieMaritime"><span jhiTranslate="orimexApp.achatArrivage.designationCompagnieMaritime">Designation Compagnie Maritime</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="designationOperateur"><span jhiTranslate="orimexApp.achatArrivage.designationOperateur">Designation Operateur</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="designationTransitaire"><span jhiTranslate="orimexApp.achatArrivage.designationTransitaire">Designation Transitaire</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="designationTransporteur"><span jhiTranslate="orimexApp.achatArrivage.designationTransporteur">Designation Transporteur</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="flagProduit"><span jhiTranslate="orimexApp.achatArrivage.flagProduit">Flag Produit</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="franchise"><span jhiTranslate="orimexApp.achatArrivage.franchise">Franchise</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="montantFob"><span jhiTranslate="orimexApp.achatArrivage.montantFob">Montant Fob</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="montantFret"><span jhiTranslate="orimexApp.achatArrivage.montantFret">Montant Fret</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="montantTotal"><span jhiTranslate="orimexApp.achatArrivage.montantTotal">Montant Total</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="nombreTc"><span jhiTranslate="orimexApp.achatArrivage.nombreTc">Nombre Tc</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="dateRealisation"><span jhiTranslate="orimexApp.achatArrivage.dateRealisation">Date Realisation</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="poid"><span jhiTranslate="orimexApp.achatArrivage.poid">Poid</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="achatDossierId"><span jhiTranslate="orimexApp.achatArrivage.achatDossier">Achat Dossier</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let achatArrivage of achatArrivages ;trackBy: trackId">
                <td><a [routerLink]="['/achat-arrivage', achatArrivage.id, 'view' ]">{{achatArrivage.id}}</a></td>
                <td>{{achatArrivage.idArrivage}}</td>
                <td>{{achatArrivage.numeroDossierArrivage}}</td>
                <td>{{achatArrivage.codeCompagnieMaritime}}</td>
                <td>{{achatArrivage.codeOperateur}}</td>
                <td>{{achatArrivage.codeTransitaire}}</td>
                <td>{{achatArrivage.codeTransporteur}}</td>
                <td>{{achatArrivage.dateArrivePort | date:'mediumDate'}}</td>
                <td>{{achatArrivage.designationCompagnieMaritime}}</td>
                <td>{{achatArrivage.designationOperateur}}</td>
                <td>{{achatArrivage.designationTransitaire}}</td>
                <td>{{achatArrivage.designationTransporteur}}</td>
                <td>{{achatArrivage.flagProduit}}</td>
                <td>{{achatArrivage.franchise}}</td>
                <td>{{achatArrivage.montantFob}}</td>
                <td>{{achatArrivage.montantFret}}</td>
                <td>{{achatArrivage.montantTotal}}</td>
                <td>{{achatArrivage.nombreTc}}</td>
                <td>{{achatArrivage.dateRealisation | date:'mediumDate'}}</td>
                <td>{{achatArrivage.poid}}</td>
                <td>
                    <div *ngIf="achatArrivage.achatDossierId">
                        <a [routerLink]="['../achat-dossier', achatArrivage.achatDossierId , 'view' ]" >{{achatArrivage.achatDossierId}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/achat-arrivage', achatArrivage.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/achat-arrivage', achatArrivage.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'achat-arrivage/'+ achatArrivage.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="achatArrivages && achatArrivages.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
