<div>
    <h2 id="page-heading">
        <span jhiTranslate="orimexApp.retour.home.title">Retours</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-retour" [routerLink]="['/retour/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span class="hidden-sm-down"  jhiTranslate="orimexApp.retour.home.createLabel">
            Create new Retour
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'orimexApp.retour.home.search' | translate }}">
                    <button class="input-group-append btn btn-info" (click)="search(currentSearch)">
                        <fa-icon [icon]="'search'"></fa-icon>
                    </button>
                    <button class="input-group-append btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                        <fa-icon [icon]="'trash-alt'"></fa-icon>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <div class="table-responsive" *ngIf="retours">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="idOperation"><span jhiTranslate="orimexApp.retour.idOperation">Id Operation</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="dateOperation"><span jhiTranslate="orimexApp.retour.dateOperation">Date Operation</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="nombrePlateaux"><span jhiTranslate="orimexApp.retour.nombrePlateaux">Nombre Plateaux</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="numeroOperation"><span jhiTranslate="orimexApp.retour.numeroOperation">Numero Operation</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="superfecie"><span jhiTranslate="orimexApp.retour.superfecie">Superfecie</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="produitId"><span jhiTranslate="orimexApp.retour.produit">Produit</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="utilisateurId"><span jhiTranslate="orimexApp.retour.utilisateur">Utilisateur</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="bonId"><span jhiTranslate="orimexApp.retour.bon">Bon</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let retour of retours ;trackBy: trackId">
                <td><a [routerLink]="['/retour', retour.id, 'view' ]">{{retour.id}}</a></td>
                <td>{{retour.idOperation}}</td>
                <td>{{retour.dateOperation | date:'medium'}}</td>
                <td>{{retour.nombrePlateaux}}</td>
                <td>{{retour.numeroOperation}}</td>
                <td>{{retour.superfecie}}</td>
                <td>
                    <div *ngIf="retour.produitId">
                        <a [routerLink]="['../produit', retour.produitId , 'view' ]" >{{retour.produitId}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="retour.utilisateurId">
                        <a [routerLink]="['../utilisateur', retour.utilisateurId , 'view' ]" >{{retour.utilisateurId}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="retour.bonId">
                        <a [routerLink]="['../bon', retour.bonId , 'view' ]" >{{retour.bonId}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/retour', retour.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/retour', retour.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'retour/'+ retour.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="retours && retours.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
