<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-ville-heading" jhiTranslate="orimexApp.ville.home.createOrEditLabel">Create or edit a Ville</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!ville.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="ville.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="orimexApp.ville.idVille" for="field_idVille">Id Ville</label>
                    <input type="number" class="form-control" name="idVille" id="field_idVille"
                        [(ngModel)]="ville.idVille" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="orimexApp.ville.libelleVille" for="field_libelleVille">Libelle Ville</label>
                    <input type="text" class="form-control" name="libelleVille" id="field_libelleVille"
                        [(ngModel)]="ville.libelleVille" />
                </div>

            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
