<div>
    <h2 id="page-heading">
        <span jhiTranslate="orimexApp.achatPrevisionArrivage.home.title">Achat Prevision Arrivages</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-achat-prevision-arrivage" [routerLink]="['/achat-prevision-arrivage/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span class="hidden-sm-down"  jhiTranslate="orimexApp.achatPrevisionArrivage.home.createLabel">
            Create new Achat Prevision Arrivage
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'orimexApp.achatPrevisionArrivage.home.search' | translate }}">
                    <button class="input-group-append btn btn-info" (click)="search(currentSearch)">
                        <fa-icon [icon]="'search'"></fa-icon>
                    </button>
                    <button class="input-group-append btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                        <fa-icon [icon]="'trash-alt'"></fa-icon>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <div class="table-responsive" *ngIf="achatPrevisionArrivages">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="idPrevisionArrivage"><span jhiTranslate="orimexApp.achatPrevisionArrivage.idPrevisionArrivage">Id Prevision Arrivage</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="produit"><span jhiTranslate="orimexApp.achatPrevisionArrivage.produit">Produit</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="desigantionCopagnieMaritme"><span jhiTranslate="orimexApp.achatPrevisionArrivage.desigantionCopagnieMaritme">Desigantion Copagnie Maritme</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="pol"><span jhiTranslate="orimexApp.achatPrevisionArrivage.pol">Pol</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="numeroBl"><span jhiTranslate="orimexApp.achatPrevisionArrivage.numeroBl">Numero Bl</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="nombreTc"><span jhiTranslate="orimexApp.achatPrevisionArrivage.nombreTc">Nombre Tc</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="etd"><span jhiTranslate="orimexApp.achatPrevisionArrivage.etd">Etd</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="eta"><span jhiTranslate="orimexApp.achatPrevisionArrivage.eta">Eta</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="documents"><span jhiTranslate="orimexApp.achatPrevisionArrivage.documents">Documents</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="douane"><span jhiTranslate="orimexApp.achatPrevisionArrivage.douane">Douane</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="active"><span jhiTranslate="orimexApp.achatPrevisionArrivage.active">Active</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="achatDossierId"><span jhiTranslate="orimexApp.achatPrevisionArrivage.achatDossier">Achat Dossier</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let achatPrevisionArrivage of achatPrevisionArrivages ;trackBy: trackId">
                <td><a [routerLink]="['/achat-prevision-arrivage', achatPrevisionArrivage.id, 'view' ]">{{achatPrevisionArrivage.id}}</a></td>
                <td>{{achatPrevisionArrivage.idPrevisionArrivage}}</td>
                <td>{{achatPrevisionArrivage.produit}}</td>
                <td>{{achatPrevisionArrivage.desigantionCopagnieMaritme}}</td>
                <td>{{achatPrevisionArrivage.pol}}</td>
                <td>{{achatPrevisionArrivage.numeroBl}}</td>
                <td>{{achatPrevisionArrivage.nombreTc}}</td>
                <td>{{achatPrevisionArrivage.etd | date:'mediumDate'}}</td>
                <td>{{achatPrevisionArrivage.eta | date:'mediumDate'}}</td>
                <td>{{achatPrevisionArrivage.documents}}</td>
                <td>{{achatPrevisionArrivage.douane}}</td>
                <td>{{achatPrevisionArrivage.active}}</td>
                <td>
                    <div *ngIf="achatPrevisionArrivage.achatDossierId">
                        <a [routerLink]="['../achat-dossier', achatPrevisionArrivage.achatDossierId , 'view' ]" >{{achatPrevisionArrivage.achatDossierId}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/achat-prevision-arrivage', achatPrevisionArrivage.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/achat-prevision-arrivage', achatPrevisionArrivage.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'achat-prevision-arrivage/'+ achatPrevisionArrivage.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="achatPrevisionArrivages && achatPrevisionArrivages.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
