<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="couleur">
            <h2><span jhiTranslate="orimexApp.couleur.detail.title">Couleur</span> {{couleur.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="orimexApp.couleur.idCouleur">Id Couleur</span></dt>
                <dd>
                    <span>{{couleur.idCouleur}}</span>
                </dd>
                <dt><span jhiTranslate="orimexApp.couleur.codeHtml">Code Html</span></dt>
                <dd>
                    <span>{{couleur.codeHtml}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/couleur', couleur.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
