<div>
    <h2 id="page-heading">
        <span jhiTranslate="orimexApp.achatArticleConteneurArrivage.home.title">Achat Article Conteneur Arrivages</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-achat-article-conteneur-arrivage" [routerLink]="['/achat-article-conteneur-arrivage/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span class="hidden-sm-down"  jhiTranslate="orimexApp.achatArticleConteneurArrivage.home.createLabel">
            Create new Achat Article Conteneur Arrivage
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'orimexApp.achatArticleConteneurArrivage.home.search' | translate }}">
                    <button class="input-group-append btn btn-info" (click)="search(currentSearch)">
                        <fa-icon [icon]="'search'"></fa-icon>
                    </button>
                    <button class="input-group-append btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                        <fa-icon [icon]="'trash-alt'"></fa-icon>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <div class="table-responsive" *ngIf="achatArticleConteneurArrivages">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="idArticleConteneurArrivage"><span jhiTranslate="orimexApp.achatArticleConteneurArrivage.idArticleConteneurArrivage">Id Article Conteneur Arrivage</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="dimension"><span jhiTranslate="orimexApp.achatArticleConteneurArrivage.dimension">Dimension</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="montant"><span jhiTranslate="orimexApp.achatArticleConteneurArrivage.montant">Montant</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="nombreCaissestc"><span jhiTranslate="orimexApp.achatArticleConteneurArrivage.nombreCaissestc">Nombre Caissestc</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="nombreFeuillecaisse"><span jhiTranslate="orimexApp.achatArticleConteneurArrivage.nombreFeuillecaisse">Nombre Feuillecaisse</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="prixUnitaire"><span jhiTranslate="orimexApp.achatArticleConteneurArrivage.prixUnitaire">Prix Unitaire</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="quantite"><span jhiTranslate="orimexApp.achatArticleConteneurArrivage.quantite">Quantite</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="poids"><span jhiTranslate="orimexApp.achatArticleConteneurArrivage.poids">Poids</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="achatConteneurArrivageId"><span jhiTranslate="orimexApp.achatArticleConteneurArrivage.achatConteneurArrivage">Achat Conteneur Arrivage</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="produitId"><span jhiTranslate="orimexApp.achatArticleConteneurArrivage.produit">Produit</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let achatArticleConteneurArrivage of achatArticleConteneurArrivages ;trackBy: trackId">
                <td><a [routerLink]="['/achat-article-conteneur-arrivage', achatArticleConteneurArrivage.id, 'view' ]">{{achatArticleConteneurArrivage.id}}</a></td>
                <td>{{achatArticleConteneurArrivage.idArticleConteneurArrivage}}</td>
                <td>{{achatArticleConteneurArrivage.dimension}}</td>
                <td>{{achatArticleConteneurArrivage.montant}}</td>
                <td>{{achatArticleConteneurArrivage.nombreCaissestc}}</td>
                <td>{{achatArticleConteneurArrivage.nombreFeuillecaisse}}</td>
                <td>{{achatArticleConteneurArrivage.prixUnitaire}}</td>
                <td>{{achatArticleConteneurArrivage.quantite}}</td>
                <td>{{achatArticleConteneurArrivage.poids}}</td>
                <td>
                    <div *ngIf="achatArticleConteneurArrivage.achatConteneurArrivageId">
                        <a [routerLink]="['../achat-conteneur-arrivage', achatArticleConteneurArrivage.achatConteneurArrivageId , 'view' ]" >{{achatArticleConteneurArrivage.achatConteneurArrivageId}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="achatArticleConteneurArrivage.produitId">
                        <a [routerLink]="['../produit', achatArticleConteneurArrivage.produitId , 'view' ]" >{{achatArticleConteneurArrivage.produitId}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/achat-article-conteneur-arrivage', achatArticleConteneurArrivage.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/achat-article-conteneur-arrivage', achatArticleConteneurArrivage.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'achat-article-conteneur-arrivage/'+ achatArticleConteneurArrivage.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="achatArticleConteneurArrivages && achatArticleConteneurArrivages.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
